<div style="display: flex; align-items: center; padding: 1rem;">
    <button class="home-button" (click)="goToHome()" style="text-decoration: none; color: black;"><h1>Grimpette</h1></button>
    <div style="display: flex; align-items: center; width: 100%; justify-content: space-evenly;">
        <p>Play locally with your friends !</p>    

        <button class="play-button" type="button" (click)="goToGame();">Play now</button>    
        <!-- <button type="button" (click)="goToDebug();">Debug page</button>-->  
    </div>    
</div>